body{
    margin: 0px;
    background-color: #111; 
}

.sidebar {
    height: 100%;
    width: 360px;
    position: fixed; 
    z-index: 1; 
    top: 50px; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.topbar{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    background-color: #111;  
    margin-top: 0px;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);

}

.main {
    margin-top: 50px; /* Same as the height of topbar */
    margin-left: 360px; /* Same as the width of the sidebar */
}

.zoom-controls{
    position: absolute;
    width: 240px;
    height: 50px;
    background-color: rgba(17, 17, 17, 0.657); 
    top: 92%;
    margin-left: 10px;
}
.zoomslider{
    position: absolute;
    top: 16px;
    -webkit-appearance: none;
    opacity: 0.5;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.zoomslider:hover{
    opacity: 1;
}
.zoomslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: rgb(64, 192, 251);
    cursor: pointer;
}
.zoomslider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(64, 192, 251);
    cursor: pointer;
}
.zoomnumber{
    position: absolute;
    top: 14px;
    background-color: rgba(17, 17, 17, 0); 
    left: 200px;
    color: aliceblue;
    border: none;
    width: 20px;
    outline: none;
    -webkit-appearance: none; 
    -moz-appearance:textfield;

}

.listwrapper{
    background-color: rgb(39, 39, 39);
    margin: 10px;
}

.imageList{
    list-style-type: none;
}
.imageList:li{

}

.listImages{
    widows: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}

.listImagesBorder{
    widows: 100px;
    height: 100px;
    margin: 5px;
    float: left;
    border: 4px solid white;
}


.canvas{

}